<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form action="/conferences/inscrire/choixThemAct" method="POST">
        
    <h3>Choississez les activites et thematiques</h3>
    <p>
        Conference <span th:text="${session.conference.titreConf}" />
    </p>

    <h3>Thématiques</h3>
	<div th:each="t : ${session.conference.thematiques}">
		<input type = 'checkbox' name = 'cb_thematiques' th:value = "${t.codeThematique}"/>
		<span th:text="${t.nomThematique}" /> 
	</div>

    
    <h3>Activités</h3>
	<div th:each="a : ${session.conference.activites}">
		<input type = 'checkbox' name = 'cb_activites' th:value = "${a.codeActivite}"/>
		<span th:text="${a.nomActivite}" /> 
	</div>


    <input type="submit" value="Envoi" />
</form>   

</body>
</html>     
